@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h2 class="display-4 text-capitalize text-black">Welcome to The Restaurant At The End Of The Universe.</h2>
        <h3 class="mainSubtitle">The best restaurant in the universe. It's at the end of the universe ✯</h3>
    </div>
    <img class="mainImage" src="~/images/PizzaTime.jpg" />
    <br />
    <a class="btn btn-primary mt-3" asp-area="" asp-page="Checkout/ThankYou">BRING ME THAT PIZZA</a>
</div>
